@charset "utf-8";


body {}

/* layout */
#wrap {overflow: hidden;}
#pop_header {overflow: hidden; position: relative; margin: 0; padding: 20px 0 15px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif; color: #ffffff; background-color: #0487cb;}
	a.pop_close {position: absolute; top: 23px; right: 15px; width: 20px; height: 19px; background: url('/images/front/popup/btn_delete.png') no-repeat 0 0;}
	a.pop_close span {display: block; position: absolute; top: -999999px; right: -999999px;}

#pop_container {overflow: hidden;}
	.pop_content_area {overflow: hidden;}
	    #pop_content {overflow: hidden; padding: 40px 15px 50px;}

#pop_header2 {overflow: hidden; position: relative; margin: 0; padding: 20px 0 15px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif; color: #ffffff; background-color: #0487cb;}
	a.pop_close {position: absolute; top: 23px; right: 15px; width: 20px; height: 19px; background: url('/images/front/popup/btn_delete.png') no-repeat 0 0;}
	a.pop_close span {display: block; position: absolute; top: -999999px; right: -999999px;}

#pop_container2 {overflow: hidden;}
	.pop_content_area {overflow: hidden;}
	    #pop_content2 {overflow: hidden; padding: 40px 15px 50px;}

/* title */
.title_area {overflow: hidden; margin-bottom: 20px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
.title_area.marginb8 {margin-bottom: 8px;}
	h1.pop_title {float: left; margin: 0 35px 0 0; padding-left: 20px; font-size: 18px; font-weight: bold; color: #ffffff; line-height: 1.4em;}
	h2.pop_title {font-weight: bold; font-size: 20px; color: #333333;}
	h2.pop_title2 {font-weight: bold; font-size: 15px; color: #333333;}
	h3.pop_title {padding-left: 18px; font-weight: bold; font-size: 16px; color: #4d4d4d;}



/* table_search_area */
.table_search_area {overflow: hidden; margin-bottom: 8px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
	.table_search_area.float_left {text-align: left; vertical-align: bottom;}
	.table_search_area.float_right {text-align: right; vertical-align: bottom;}



/* icon_choice */
ul.icon_choice {overflow: hidden; padding: 1px 0 0 2px;}
	ul.icon_choice li {float: left; width: 25%; list-style: none; margin: 5px 0; }
	ul.icon_choice li .icon_box {overflow: hidden; padding: 10px 15px;}
	ul.icon_choice li .icon_box input {display: inline; display: inline-block; vertical-align: top;}
	ul.icon_choice li .icon_box img {
		display: inline; display: inline-block; padding: 25px 21px; vertical-align: top; margin-left: 10px; background-color: #b6b6b6;
		border-radius: 50px;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		}


/* search area */
/*
.pop_search_areabox {overflow: hidden; position: relative; padding: 12px 10px 10px; margin-bottom: 20px; border: 1px solid #dddddd;}
    dl.pop_search_dl {overflow: hidden;}
    dl.pop_search_dl dt, dd {float: left; height: 27px; line-height: 27px; vertical-align: top;}
    dl.pop_search_dl + dl.pop_search_dl {margin-top: 10px;}
    dl.pop_search_dl dt {padding-right: 8px; background: url('/images/front/common/bullet_05.png') no-repeat right 6px;}
    dl.pop_search_dl dt span {display: block; height: 27px; padding-left: 10px; font-size: 12px; line-height: 27px; font-weight: bold; background: url('/images/front/common/bullet_lnb_01.png') no-repeat 2px 12px;}
    dl.pop_search_dl dd {display: block; padding-left: 5px; height: 27px; line-height: 27px; font-size: 13px;}
	dl.pop_search_dl dd a {vertical-align: middle;}
*/

/**/
ul.txt_list_area {overflow: hidden; margin: 10px 0 0 15px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
	ul.txt_list_area li {list-style: none; padding-left: 8px; font-size: 12px; color: #333333; background: url('/images/front/common/bullet_dash.png') no-repeat left 6px;}
	ul.txt_list_area li + li {margin-top: 5px;}

ul.txt_list_area2 {overflow: hidden; margin: 10px 0 25px 0px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
	ul.txt_list_area2 li {list-style: none; font-size: 13px; color: #333333; line-height: 1.8em;}

.withdrawal_txt_box {padding: 30px 40px 25px 35px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif; background-color: #f3f3f3;}
	.withdrawal_txt_box p {display: block; padding: 8px 0px 8px 60px; font-size: 18px; color: #333333; background: url('/images/front/popup/withdrawal_bg.png') no-repeat left 0px;}
	.withdrawal_txt_box p span {font-weight: bold; color: #0067b4;}

.withdrawal_list {overflow: hidden; margin: 30px; 20px 0 15px; font-family: 'Nanum Gothic', 'NanumGothic', '나눔고딕', Helvetica, 'Apple SD Gothic Neo', Sans-serif;}
	.withdrawal_list ol {overflow: hidden;}
	.withdrawal_list ol li {list-style: none; font-size: 13px; line-height: 1.6em;}
	.withdrawal_list ol li + li {margin-top: 15px;}
	.withdrawal_list ol li > span {float: left; margin-right: 5px;}
	.withdrawal_list ol li > div {overflow: hidden;}
	.withdrawal_list ol li > div p span.under_line {color: #e5350e; text-decoration: underline;}

.agreement_txt {overflow: hidden; text-align: center;}
	.agreement_txt p {overflow: hidden; font-size: 18px; font-weight: bold; color: #333333; line-height: 1.4em;}
	.agreement_txt p.txt {overflow: hidden; font-size: 17px; font-weight: bold; color: #333333; line-height: 1.4em;}
