@charset "utf-8";
/* CSS Document */


/* table list */
.tstyle_list { width: 100%; margin-bottom: 10px; border-top: 2px solid #45474d; border-bottom: solid 1px #dfdfe0; table-layout: fixed; }
	.tstyle_list th { padding: 10px 10px; background: #fafafb; /*	border-left: solid 1px #e1e1e1;*/ border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.tstyle_list tbody th {border-bottom-color: #e4e7ec;}
	.tstyle_list td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; text-align: center; vertical-align: middle; line-height: 1.3em; }
	.tstyle_list th:first-child,
	.tstyle_list td:first-child  {border-left: none;}		
	.tstyle_list td.ellipsis { text-align: left; text-overflow: ellipsis;  white-space: nowrap; overflow : hidden;}
	.tstyle_list td.ellipsis a { overflow: hidden;}
	.tstyle_list td.subject {text-align: left; text-overflow: ellipsis;  white-space: nowrap; overflow : hidden;}	
	.tstyle_list td.txt_left,	
	.tstyle_list .txt_left { text-align: left;}	
	.tstyle_list td.txt_right,	
	.tstyle_list .txt_right {text-align: right;}		
	.tstyle_list td.reply {padding-left: 44px; background: url('/engimages/icon/icon_reply.png') no-repeat 9px 13px;}

/* album list */
.album_list_area {overflow: hidden; border-top: 2px solid #45474d; border-bottom: 1px solid #dfdfe0; }
	ul.album_list {overflow: hidden; text-align: left; list-style: none; margin: 20px auto}
	ul.album_list li {width: 32%; float:left; border:1px solid #ddd; margin:0 10px 15px 0;  }
	ul.album_list li:last-child { margin-right:0}
	ul.album_list li .album {overflow: hidden; padding:15px; text-align:center; margin:0 auto }
	ul.album_list li .album .album_img img { width:265px; height:196px }
	ul.album_list li .album .album_txt { text-align:left; font-size:14px; margin-top:15px}
	ul.album_list li .album .album_date {  text-align:left; font-size:12px; color:#888888;  margin-top:15px}


/* faq list */
.faq_list_area { overflow: hidden; }
	ul.faq_list{width:100%; border-top:2px solid #45474d;}
	ul.faq_list .faq>dt{width:100%; border:1px solid #dfdfe0; border-top:none;}
	ul.faq_list .faq>dt>span{display:inline-block; padding-top:15px; vertical-align: top; text-align:center; font-size:15px; color:#a5a5a5; font-weight:600; width:50px; }
	ul.faq_list .faq>dt>a{display:inline-block; padding:15px 40px 15px 20px; width:auto;  border-left:1px solid #d8d8d8; font-size:13px; background:url("") 97% 50% no-repeat;}
	ul.faq_list .faq>dt>a:hover { color:#000} 
	ul.faq_list .faq>dd{position:relative; border-bottom:1px solid #dfdfe0; border-left:1px solid #dfdfe0; border-right:1px solid #dfdfe0;}
	ul.faq_list .faq>dd>span{position:absolute; height:auto; top:0; bottom:0; text-align:center; font-size:15px; color:#07a7e3; font-weight:600; width:60px;}
	ul.faq_list .faq>dd>span>span{position:absolute; top:32px; left:50%; margin-left:-5px; margin-top:-10px;}
	ul.faq_list .faq>dd>p{display:inline-block; width: 100%; font-size:14px; color:#666; padding:20px 20px 20px 70px; font-weight:600}
	ul.faq_list .faq>dd>div{ padding:15px 15px 15px 120px;}
	ul.faq_list .faq.on>dt>a{background:url("") 97% 50% no-repeat; color:#000; font-weight:600}
	ul.faq_list .faq.on>dt{background-color:#fafafa; }
	ul.faq_list .faq>dd{display:none;}


/* table view */
.tstyle_view { width: 100%; margin-bottom: 10px; border-top: 2px solid #45474d; border-bottom: solid 1px #dfdfe0; table-layout: fixed; }
	.tstyle_view th { padding: 10px 10px; background: #fafafb; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.tstyle_view tbody th {border-bottom-color: #e4e7ec; text-align:left}
	.tstyle_view td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; text-align: left; vertical-align: middle; line-height: 1.3em; }
	.tstyle_view th:first-child,
	.tstyle_view td:first-child  {border-left: none;}		
	.tstyle_view td.ellipsis { text-align: left; text-overflow: ellipsis;  white-space: nowrap; overflow : hidden;}
	.tstyle_view td.ellipsis a { overflow: hidden;}
	.tstyle_view td.subject {text-align: left; text-overflow: ellipsis;  white-space: nowrap; overflow : hidden;}			
	.tstyle_view .file_name:link { font-size:13px; text-decoration:underline; color:#333}
	.tstyle_view .file_name:hover { color:#000}
	.tstyle_view td.editor { text-align:left; padding:20px}
	.tstyle_view th.subject_ir {text-align: center; text-overflow: ellipsis;  white-space: nowrap; overflow : hidden;}
	.tstyle_view .editor_ir { position: relative; width:100%; text-align: center; padding:20px}
	.tstyle_view .editor_ir img { max-width:650px}
	
	
/* table write */
.tstyle_write { width: 100%; margin-bottom: 10px; border-top: 2px solid #45474d; border-bottom: solid 1px #dfdfe0; table-layout: fixed; }
	.tstyle_write th { padding: 10px 10px; background: #fafafb; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.tstyle_write tbody th {border-bottom-color: #e4e7ec; text-align:left}
	.tstyle_write td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; text-align: left; vertical-align: middle; line-height: 1.3em; }
	.tstyle_write th:first-child,
	.tstyle_write td:first-child  {border-left: none;}		
 	.tstyle_write td div.file_area {overflow: hidden; vertical-align: middle;}
	.tstyle_write td div.file_area div.file_input_area {overflow: hidden; display: inline-block; width: 50%;}
	.tstyle_write td div.file_area div.file_input_area input[type=text] {width: 98%; height: 27px; border: 1px solid #d2d2d2;}
	.tstyle_write td div.file_area div.file_btn_area {overflow: hidden; display: inline-block;}

	.captcha_key { float:left; background:#bbbbbb; width:80px; font-size:19px; font-weight:bold; font-style:italic; padding: 6px}
 
 /* 이전글 다음글 페이지 이동 */
.nextprev_area { clear: both; padding-top:40px}
	ul.nextprev_list { border-top: solid 1px #949494; border-bottom: solid 1px #949494; overflow: hidden;}
	ul.nextprev_list li { padding: 10px 10px 10px 0; border-top: solid 1px #dfdfe0; }
	ul.nextprev_list li:first-child { border-top: none;}
	ul.nextprev_list li strong { display: block; float: left; padding: 0 20px 0 20px; color: #333; line-height: 1.2; background: url(/engimages/common/nextprev_bg.png) no-repeat 0 7px; }
	ul.nextprev_list li strong.next_list { background: url(/engimages/common/nextprev_bg.png) no-repeat 0 -8px; }	
	ul.nextprev_list li a {display: block;text-overflow: ellipsis; white-space: nowrap;overflow : hidden;}
 
 
 /* paging */
.paging_area {overflow: hidden; width: 100%; margin: 15px 0; padding: 0; font-size: 13px; font-weight: 500; text-align: center;}
    .paging_area strong {display: inline-block; height: 19px; padding: 1px 1px 0px; margin: 0px 2px; border-bottom: 1px solid #07a7e3; font-weight: bold; color: #07a7e3; line-height: 20px; vertical-align: top; background-color: #ffffff;}
    .paging_area a {display: inline-block; height: 25px; padding: 1px 5px 1px; line-height: 20px; color: #333333;}   
    .paging_area a:hover {color: #124668; text-decoration: none;}
    .paging_area a.stimg {display: inline-block; padding: 0; border: 0; text-decoration: none;}
    .paging_area a.stimg img {display: inline-block; padding: 0px; margin: 0px; border: 0; text-decoration: none; vertical-align: middle;}
    .paging_area a.stimg:hover {text-decoration: none;}



/* table style */
.table_style { width: 100%; margin-bottom: 10px; margin-top:10px; border-top: 2px solid #45474d; border-bottom: solid 1px #dfdfe0; table-layout: fixed; padding-top:20px }
	.table_style th { padding: 10px 10px; background: #fafafb; /*	border-left: solid 1px #e1e1e1;*/ border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.table_style tbody th {border-bottom-color: #e4e7ec; font-weight:500; color:#535353}
	.table_style tbody.tb_tar td { text-align: right;}
	.table_style td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; text-align: center; vertical-align: middle; line-height: 1.3em; }
	.table_style th:first-child,
	.table_style td:first-child  {border-left: none;}		
	.table_style td.ellipsis { text-align: left; text-overflow: ellipsis;  white-space: nowrap; overflow : hidden;}
	.table_style td.ellipsis a { overflow: hidden;}	
	.table_style td.txt_left,	
	.table_style .txt_left { text-align: left;}	
	.table_style td.txt_right,	
	.table_style .txt_right {text-align: right;}		
	.table_style a.link_blue { color:#000; text-decoration:underline; }
	
.table_style2 { width: 100%; border-top: 1px solid #dfdfe0; border-bottom: solid 1px #dfdfe0; border-right: solid 1px #dfdfe0; table-layout: fixed; padding-top:10px }
	.table_style2 th { padding: 10px 10px; background: #fafafb; /*	border-left: solid 1px #e1e1e1;*/ border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.table_style2 th { border-bottom-color: #e4e7ec;}
	.table_style2 td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; vertical-align: middle; line-height: 1.3em; }
	
.table_style3 { width: 100%; border-top: 1px solid #45474d; border-bottom: solid 1px #dfdfe0; border-right: solid 1px #dfdfe0; table-layout: fixed; padding-top:10px }
	.table_style3 th { padding: 10px 10px; background: #fafafb; /*	border-left: solid 1px #e1e1e1;*/ border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.table_style3 th {border-bottom-color: #e4e7ec; text-align:left}
	.table_style3 td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; vertical-align: middle; line-height: 1.3em; text-align:right }
	.table_style3 td.txt_center { text-align:center}


.table_style4 { width: 100%; margin-bottom: 10px; margin-top:10px; border-top: 2px solid #45474d; border-bottom: solid 1px #dfdfe0; table-layout: fixed; padding-top:20px }
	.table_style4 th { padding: 10px 10px; background: #fafafb; /*	border-left: solid 1px #e1e1e1;*/ border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.table_style4 tbody th {border-bottom-color: #e4e7ec;}
	.table_style4 td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; text-align: left; vertical-align: middle; line-height: 1.3em; }
	.table_style4 th:first-child,
	.table_style4 td:first-child  {border-left: none;}		

.table_auto_area { position:relative; width:100%; max-height:480px; overflow: scroll !important;}
	.table_style_auto { width:100%; margin-bottom: 10px; margin-top:10px; border-top: 2px solid #45474d; border-bottom: solid 1px #dfdfe0; table-layout: fixed; padding-top:20px }
	.table_style_auto th { font-size:13px; padding: 10px 10px; background: #fafafb; /*	border-left: solid 1px #e1e1e1;*/ border-left: 1px solid #e4e7ec; border-bottom: 1px solid #dfdfe0; color: #2f3743;}
	.table_style_auto tbody th {border-bottom-color: #e4e7ec;}
	.table_style_auto td { position: relative; padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom: 1px solid #e4e7ec; text-align: right; vertical-align: middle;  font-size:13px; line-height: 1.3em; }
	.table_style_auto td.txt_left,	
	.table_style_auto .txt_left { text-align: left;}	

.table_style thead th.bo_l {border-left:1px solid #e4e7ec !important;}
.table_style tbody th.bo_l {border-left:1px solid #e4e7ec !important;}
.table_style tbody td.bo_l {border-left:1px solid #e4e7ec !important;}
.bo_l {border-left:1px solid #e4e7ec !important;}

.table_style tbody.tex_l td {text-align:left !important;}
.tex_l {text-align:left !important;}

.table_style_do1 {width:100%; padding-top:20px; margin-bottom:40px; margin-top:10px; border-top:solid 1px #dfdfe0; border-right: 1px solid #dfdfe0;}
	.table_style_do1 th {padding: 10px 10px; background:#f6f6f6; border-left:1px solid #e4e7ec; border-bottom:1px solid #dfdfe0; color:#2f3743;}
	.table_style_do1 td {padding: 10px 10px; border-left: 1px solid #e4e7ec; border-bottom:1px solid #e4e7ec; text-align:center; vertical-align:middle; line-height:1.3em;}

.table_style_do2 {width:100%; margin-bottom:10px; margin-top:10px; border-top:2px solid #45474d; border-bottom:solid 1px #dfdfe0; padding-top:20px;}
	.table_style_do2 th {padding:10px 10px; background:#fafafb; border-left:1px solid #e4e7ec; border-bottom:1px solid #dfdfe0; color:#2f3743;}
	.table_style_do2 tbody th {border-bottom-color:#e4e7ec;}
	.table_style_do2 td {position:relative; padding:10px 10px; border-left:1px solid #e4e7ec; border-bottom:1px solid #e4e7ec; text-align:center; vertical-align:middle; line-height:1.3em;}
    .table_style_do2 th:first-child,
	.table_style_do2 td:first-child  {border-left: none;}
	.table_style_do2 td dl {}
	.table_style_do2 td dt {font-size:14px; color:#1b1b1b; font-weight:500; background-image:none; padding:0;}
	.table_style_do2 td dd {font-size:12px; color:#7d7d7d; padding-left:13px; background: url('/engimages/sub/bg_bul_rect.png') no-repeat 0 8px;}


/* table_search_area */
.table_search_area { width:100%; overflow: hidden; margin: 0px 0 5px; }
	.table_search_left {float: left;}
	.table_search_right {float: right; text-align: right;}
	.table_search_area input,
	.table_search_area select,
	.table_search_area button.btn_search,
	.table_search_area button.btn_total {vertical-align: bottom;}  /*20171204 추가*/
	.table_search_area input[type="text"] {color: #5f5f5f;}
	.table_search_area select {height: 35px; color: #5f5f5f; border: 1px solid #d2d2d2;}
	.table_search_area label {height: 35px; margin-right: 10px; line-height: 35px; font-size: 13px; font-weight: bold;}
	.table_search_area label.three_select {height: 27px; margin-right: 10px; line-height: 30px; font-size: 13px; font-weight: bold;}
	.table_search_area select.three_member80 {width: 80px; border: 1px solid #d5d5d5;}
	.table_search_area select.three_member180 {width: 180px; border: 1px solid #d5d5d5;}
	.search_input {display: inline-block;}
		.search_input input {display: inline-block; width: 150px; height: 35px; border: 1px solid #d2d2d2; text-indent: 4px;}
	.table_search_area button.btn_search {display: inline-block; width: 60px; height: 35px; font-weight: bold; color: #ffffff; background-color: #5a6273;}
	.table_search_area button.btn_total {display: inline-block; width: 70px; height: 35px; font-weight: bold; color: #5a6273; border:1px solid #5a6273; background-color: #fff;} /*20171204 추가*/
	
	span.total {display: inline-block; height: 30px; font-size: 14px; color: #6a6a6a; line-height: 30px; vertical-align: bottom;}


.cont_search_area { overflow: hidden; margin-bottom:20px }
	.cont_search_box { width:100%; border:1px solid #dddddd; padding:15px}
	.cont_search_box span { display:block; width:100%;}
	.cont_search_box input,
	.cont_search_box select,
	.cont_search_box button.btn_search {vertical-align: bottom;}
	.cont_search_box input[type="text"] {height: 35px; color: #5f5f5f; border:1px solid #ddd}
	.cont_search_box select {height: 35px; color: #5f5f5f; border: 1px solid #d2d2d2;}
	.cont_search_box label {height: 35px; margin-right: 10px; line-height: 35px; font-size: 13px; font-weight: bold;}
	.cont_search_box button.btn_search {display: inline-block; background:url(/engimages/btn/bg_icon_search.png) no-repeat 10px 11px; padding-left:28px; padding-right:20px; height: 35px; font-weight: 600; color: #ffffff; background-color: #5a6273;}
	
	.cont_search_box dl { clear:both;}
	.cont_search_box dt { float: left; width:80px; margin-bottom:10px }
	.cont_search_box dd { float: left; margin-bottom:10px }
	
	.cont_search_box2 { overflow:hidden; width:100%; border:1px solid #dddddd; padding:15px}
	.cont_search_box2 dl { clear:both; padding-bottom:35px}
	.cont_search_box2 dl dt { float: left; width:90px; font-weight:600; text-align:right; padding:0 15px; padding-top:5px;  vertical-align: middle; }
	.cont_search_box2 dl dd { float: left; }
	.cont_search_box2 button.btn_search {display: inline-block; background:url(/engimages/btn/bg_icon_search.png) no-repeat 10px 11px; padding-left:28px; padding-right:20px; height: 35px; font-weight: 600; color: #ffffff; background-color: #5a6273;}

.date_choice {}
	.date_choice:after{content:'';display:block;clear:both;}
	.date_choice span + span { font-size:17px; font-weight:600; padding-left:10px}
	.date_choice span + span + span { float:right; font-size:12px; font-weight:500; letter-spacing:0}
	

/* 손해평가사_교육*/
.tab_schedule { padding-top:20px; text-align:center }
	.tab_schedule li { display:inline-block;}
	.tab_schedule li:first-child { border-left:1px solid #ddd;} 
	.tab_schedule li:last-child { margin-left:-3px}
	.tab_schedule li a { display:block; padding:0 30px 0 50px; border:1px solid #ddd; border-left:none; line-height: 45px; font-size: 14px; text-align:center; color:#666;}
	.tab_schedule li.schedule_y a { background:#fff url('/engimages/common/icon_bg_year.png') no-repeat 15px 11px; }
	.tab_schedule li.schedule_y a.active { border:1px solid #000 !important; color:#000; }
	.tab_schedule li.schedule_m a { background:#fff url('/engimages/common/icon_bg_month.png') no-repeat 15px 11px; }
	.tab_schedule li.schedule_m a.active { border:1px solid #000 !important; color:#000; }
	
.schedule_control{ margin:30px 0 20px 0; text-align:center; }
	.schedule_control span em{ font-size:24px; color:#000;}
	.schedule_control a>img{ vertical-align:-2px; padding:0 3px }
	
.calendar { margin:6px 0 10px 0; border:1px solid #d2d4d6; border-top:2px solid #45474d; table-layout: fixed; }
	.calendar thead th {color:#000; font-weight:bold; border-collapse:collapse; padding:10px 0 10px 0; text-align:center; background:#f5f5f5 ; border-bottom:2px solid #d2d4d6; border-right:1px solid #d2d4d6;}
	.calendar th:first-child {color: #db3d3a;}
	.calendar th:last-child {color: #07a7e3; border-right: none}
	.calendar td:nth-child(7n+1) { color:#db3d3a}
	.calendar td:nth-child(7n+7) { color:#07a7e3}

	.calendar td {color:#666666; border-bottom:1px solid #d2d4d6; border-right:1px solid #d2d4d6; border-collapse:collapse; padding:8px; text-align:left; height:100px; vertical-align:top; }
	.calendar td.bg_today { background:#eaeaea; color:#000; font-weight:600}
	.calendar td:last-child { border-right: none}
	.calendar ul.calendar_name li { background:url('/engimages/common/schdule_bul_bg.png') no-repeat 0 3px; padding:0 0 2px 13px}
	.calendar ul.calendar_name li a { font-size:13px;}
	
/* 농업재해재보험 사업실적 집계현황*/
.tab_result { padding-top:20px; text-align:center; margin-bottom:20px }
	.tab_result li { display: inline-block}
	.tab_result li:first-child { border-left:1px solid #ddd;} 
	.tab_result li:last-child { margin-left:-3px} 
	.tab_result li a { display:block; padding:0 30px 0 50px; border:1px solid #ddd; border-left:none; line-height: 45px; font-size: 14px; text-align:center; color:#666;}
	.tab_result li.bg_check a {background:#fff url('/engimages/common/bg_check.png') no-repeat 15px 11px; }
	.tab_result li.bg_check a.active { background:#fff url('/engimages/common/bg_check_on.png') no-repeat 15px 11px; border:1px solid #07a7e3 !important; color:#000; }

	
/* 로그인*/
.login_area { overflow:hidden; padding-top:20px; text-align:center }
	.login_box { width: 480px; margin: 0 auto 15px; padding:30px 50px; border:1px solid #ddd; border-top:2px solid #07a7e3}
	.login_box .login_head {  border-bottom:1px dotted #ddd; text-align: center; padding-bottom:20px; font-size:18px; color:#07a7e3; font-weight:600; letter-spacing:-2px}
	.login_box .login_input {overflow: hidden; display: inline-block; padding:20px 0}
	.login_box .login_input input[type=text] {display: block; width: 380px; height: 40px; margin-bottom: 5px; text-indent: 40px; border:1px solid #e1e1e1; background: url(/engimages/common/bg_icon_id.png) no-repeat 10px 8px} 
	.login_box .login_input input[type=password]  {display: block; width: 380px; height: 40px; text-indent: 40px; border:1px solid #e1e1e1; background: url(/engimages/common/bg_icon_pw.png) no-repeat 10px 8px}
	.login_box button.login {display: inline-block; width: 380px; height: 45px; background-color: #07a7e3;}
	.login_box button.login span {color: #ffffff; font-size: 15px; font-weight: bold;}
	.login_comment { width:480px; margin: 0 auto 10px; font-size:13px; text-align:center;}
	
	
/* 개인정보 동의 */	
.agree_area { border:3px solid #ddd; padding:20px;}
	.agree_area .agree_tit { text-align:center; margin-bottom:10px}
	.agree_area .agree_tit span {  font-size:19px; color:#000; display:inline-block; margin:0 0 10px 0; border-bottom:1px solid #000; height:25px; font-weight:600; letter-spacing:-1px; }
	.agree_area textarea { width: 99.4%; border: 1px solid #d9d9d9; font-size:13px; line-height:1.6em}
	
/* 본인인증 */	
.real_name_area { position: relative; padding-top:25px }
	.real_name_area dl { float:left; margin-right:5px}
	.real_name_area dl:last-child { margin-right:0}
	.real_name_area dl.real_name {border:1px solid #ddd; border-top:2px solid #07a7e3; width:49.55%; height:320px; text-align:center }
	.real_name_area dl.bg_ipin { background: url(/engimages/common/bg_icon_ipin.png) no-repeat 50% 30px}
	.real_name_area dl.bg_phone { background: url(/engimages/common/bg_icon_phone.png) no-repeat 50% 30px}
	.real_name_area dt { margin-top:160px; font-size:18px; font-weight:600; color:#333; margin-bottom:20px}
	.real_name_area dd { font-size:13px; padding:0 30px 0 }
	.real_name_area dd p { margin-top:25px}
	.real_name_area dd p a { background:#5a6273; color:#fff; padding:5px 40px; text-decoration: none;}
	
	
/* 재해보험지도 */
.map_area { position:relative; width:100%; overflow:hidden; margin-bottom:20px; padding:20px 20px; border:3px solid #ddd}
	.mapImgWrap { display:block; position:relative; float:left; width:420px; margin-right:20px }
		.map_img { display:block; width:100%; max-width:360px; min-height:500px; background:url('/engimages/data/map_bg.png') 0 0 no-repeat;}
		.map_img ul li { }
		.map_img ul li a { position:absolute; display:block; }
		.map_img ul li a:hover { /*background-position:-14px 0;*/}
		
		.map_img ul li.incheon a { display:block; text-indent:-10000px; width:69px; height:78px; top:74px; left:17px}
		.map_img ul li.incheon a:hover {background:url('/engimages/data/map_incheon.png') 0 0 no-repeat;}
		.map_img ul li.incheon a.selected { background:url('/engimages/data/map_incheon.png') 0 0 no-repeat;}
		.map_img ul li.seoul a { display:block; text-indent:-10000px; width:37px; height:32px; top:72px; left:90px; z-index:9999}
		.map_img ul li.seoul a:hover {background:url('/engimages/data/map_seoul.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.seoul a.selected {background:url('/engimages/data/map_seoul.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.gyeonggi a { display:block; text-indent:-10000px; width:105px; height:134px; top:38px; left:62px}
		.map_img ul li.gyeonggi a:hover {background:url('/engimages/data/map_gyeonggi.png') 0 0 no-repeat;}
		.map_img ul li.gyeonggi a.selected {background:url('/engimages/data/map_gyeonggi.png') 0 0 no-repeat;}
		.map_img ul li.gangwon a { display:block; text-indent:-10000px; width:177px; height:150px; top:8px; left:112px}
		.map_img ul li.gangwon a:hover {background:url('/engimages/data/map_gangwon.png') 0 0 no-repeat;}
		.map_img ul li.gangwon a.selected {background:url('/engimages/data/map_gangwon.png') 0 0 no-repeat;}
		.map_img ul li.sejong a { display:block; text-indent:-10000px; width:34px; height:35px; top:182px; left:102px; z-index:9999}
		.map_img ul li.sejong a:hover {background:url('/engimages/data/map_sejong.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.sejong a.selected {background:url('/engimages/data/map_sejong.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.daejeon a { display:block; text-indent:-10000px; width:34px; height:29px; top:212px; left:121px; z-index:9999}
		.map_img ul li.daejeon a:hover {background:url('/engimages/data/map_daejeon.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.gangwon a.selected {background:url('/engimages/data/map_daejeon.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.daegu a { display:block; text-indent:-10000px; width:37px; height:42px; top:256px; left:205px; z-index:9999}
		.map_img ul li.daegu a:hover {background:url('/engimages/data/map_daegu.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.daegu a.selected {background:url('/engimages/data/map_daegu.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.gwangju a { display:block; text-indent:-10000px; width:36px; height:25px; top:336px; left:72px; z-index:9999}
		.map_img ul li.gwangju a:hover {background:url('/engimages/data/map_gwangju.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.gwangju a.selected {background:url('/engimages/data/map_gwangju.png') 0 0 no-repeat; z-index:9999}
		.map_img ul li.chungbuk a { display:block; text-indent:-10000px; width:110px; height:124px; top:133px; left:117px;}
		.map_img ul li.chungbuk a:hover {background:url('/engimages/data/map_chungbuk.png') 0 0 no-repeat;}
		.map_img ul li.chungbuk a.selected {background:url('/engimages/data/map_chungbuk.png') 0 0 no-repeat;}
		.map_img ul li.chungnam a { display:block; text-indent:-10000px; width:126px; height:112px; top:152px; left:25px;}
		.map_img ul li.chungnam a:hover {background:url('/engimages/data/map_chungnam.png') 0 0 no-repeat;}
		.map_img ul li.chungnam a.selected {background:url('/engimages/data/map_chungnam.png') 0 0 no-repeat;}
		.map_img ul li.jeonbuk a { display:block; text-indent:-10000px; width:121px; height:89px; top:239px; left:51px}
		.map_img ul li.jeonbuk a:hover {background:url('/engimages/data/map_jeonbuk.png') 0 0 no-repeat;}
		.map_img ul li.jeonbuk a.selected {background:url('/engimages/data/map_jeonbuk.png') 0 0 no-repeat;}
		.map_img ul li.gyeongbuk a { display:block; text-indent:-10000px; width:180px; height:199px; top:105px; left:167px}
		.map_img ul li.gyeongbuk a:hover {background:url('/engimages/data/map_gyeongbuk.png') 0 0 no-repeat;}
		.map_img ul li.gyeongbuk a.selected {background:url('/engimages/data/map_gyeongbuk.png') 0 0 no-repeat;}
		.map_img ul li.gyeongnam a { display:block; text-indent:-10000px; width:136px; height:120px; top:269px; left:147px}
		.map_img ul li.gyeongnam a:hover {background:url('/engimages/data/map_gyeongnam.png') 0 0 no-repeat;}
		.map_img ul li.gyeongnam a.selected {background:url('/engimages/data/map_gyeongnam.png') 0 0 no-repeat;}
		.map_img ul li.jeonnam a { display:block; text-indent:-10000px; width:169px; height:135px; top:309px; left:1px}
		.map_img ul li.jeonnam a:hover {background:url('/engimages/data/map_jeonnam.png') 0 0 no-repeat;}
		.map_img ul li.jeonnam a.selected {background:url('/engimages/data/map_jeonnam.png') 0 0 no-repeat;}
		.map_img ul li.ulsan a { display:block; text-indent:-10000px; width:47px; height:45px; top:283px; left:262px; z-index:999}
		.map_img ul li.ulsan a:hover {background:url('/engimages/data/map_ulsan.png') 0 0 no-repeat; z-index:999}
		.map_img ul li.ulsan a.selected {background:url('/engimages/data/map_ulsan.png') 0 0 no-repeat; z-index:999}
		.map_img ul li.busan a { display:block; text-indent:-10000px; width:67px; height:48px; top:315px; left:219px; z-index:999}
		.map_img ul li.busan a:hover {background:url('/engimages/data/map_busan.png') 0 0 no-repeat; z-index:999}
		.map_img ul li.busan a.selected {background:url('/engimages/data/map_busan.png') 0 0 no-repeat; z-index:999}
		.map_img ul li.jeju a { display:block; text-indent:-10000px; width:70px; height:60px; top:449px; left:29px; z-index:999}
		.map_img ul li.jeju a:hover {background:url('/engimages/data/map_jeju.png') 0 0 no-repeat; z-index:999}
		.map_img ul li.jeju a.selected {background:url('/engimages/data/map_jeju.png') 0 0 no-repeat; z-index:999}
	.local_info_area { float:left; width:400px; padding-top:60px}
	
/* 온라인설명회 IR */
.ir { position: relative; }
	.ir dl { border:1px solid #ddd; border-top:1px solid #07a7e3; margin-bottom:15px}
	.ir dl dt { border-bottom:1px solid #ddd; padding:10px; font-size:16px; font-weight:600; background:#f7f8fc}
	.ir dl dd { position: relative; margin:30px 30px; overflow:hidden;}
	.ir dl dd p.thumb { float:left; width:30%;}
	.ir dl dd p.thumb img {width:100%; max-width:215px;}
	.ir dl dd ul { float:right ;width:68%;}
	.ir dl dd ul li { line-height:22px; background: url('/engimages/sub/bg_bul_rect.png') no-repeat 0 8px; padding-left:10px; padding-bottom:5px }
	.ir dl dd ul li span { color:#333; font-weight:600}
	.ir .pdf_btn { position:absolute; bottom:0; right:0; z-index:99}

/* 입찰정보 (추가2018.01.08)*/
.tender_title_box {width:100%; height:245px; margin-bottom:25px;}
	.tender_title_box.bg_tender_tit1{background:#eff1f3 url('/engimages/sub/bg_tender_img.png') no-repeat right 0;}
	.tender_title_box h5 {font-size:21px; color:#333; font-weight:600; padding-bottom:10px;}
	.tender_title_box p {font-size:15px; font-weight:500; padding-top:10px}
    .tender_txt_area {width:60%; padding:40px 40px 17px 40px;}
	.tender_txt_area2 {width:70%; padding:0 0 0 40px; overflow:hidden;}
	.tender_txt_area2 p {float:left; width:57%; padding:0 15px 0 0; line-height:1.3em; font-size:13px !important;}
	.tender_txt_area2 img {float:left; padding:12px 0 0 0;}

	

/* 통합검색페이지 */
.total_search_area { overflow:hidden; padding-top:50px; padding-bottom:50px}
	.total_search_detail { border:2px solid #ddd; padding:15px; background:url(/engimages/sub/bg_icon_note.png) no-repeat 50px 20px; margin-bottom:20px }
	.total_search_detail ul { margin-left:200px;}
	.total_search_detail li { padding-bottom:5px}
	.total_search_detail li:last-child { padding-top:20px}
	.total_search_detail li span.title{ color:#000; font-weight:600; padding-right:50px}
	.total_search_detail li label{display:inline-block; margin-right:10px; vertical-align:middle;}
	.total_search_detail li select.total_search_select { height:36px;}
	.total_search_detail li input.total_search_input { width:60%; height:36px; border:2px solid #333; font-size:16px}
	.total_search_detail button.btn_search {display: inline-block; background:url(/engimages/btn/bg_icon_search.png) no-repeat 10px 11px; padding-left:28px; padding-right:20px; height: 35px; font-weight: 600; color: #ffffff; background-color: #5a6273;}
	.search_result { margin:15px 0 50px; padding:20px 0; font-size:20px; text-align:center; border-bottom:1px solid #b8b8b8;}
	.search_result .keyword { color:#f47251; font-weight:600}
	
	.search_item { position:relative ;padding-bottom:10px; margin-top:30px;}
		.search_tit { border-bottom:2px solid #45474d; padding-bottom:15px}
		.search_tit h4 { background: url(/engimages/common/bul_depth2.gif) no-repeat 0 5px; padding-left:15px; font-size:16px; font-weight:600}
		.search_tit .btn_search_add { position:absolute; top:0; right:0; display:inline-block; padding:5px 10px;  background:#ddd; border:0; color:#333; font-weight:bold; font-size:12px;} 
	.search_item li { padding:10px; border-bottom:1px solid #ddd;}
	.search_item li p.search_ctn_tit { font-size:14px; font-weight:600; color:#000; padding-bottom:5px }
	.search_item li p.search_word { }
	
	
	
/* 화면 해상도 width 1025px 이상 Design --------------------------------------*/
@media screen and (min-width: 1025px){
	
	
}



/* 화면 해상도 width 640px 이상 960px 이하 Design --------------------------------------*/
@media screen and (max-width: 1024px) and (min-width: 641px) {
	
	/* album list */
	ul.album_list li {width: 31.1111%; margin:0 8px 15px 0; }
	
	
	/* 재해보험지도 */
	.mapImgWrap { display: none; position:relative; float: none; width:100%; margin-right:0 }
	.local_info_area { float:none; width:100%; padding-top:10px}
	
	/* 통합검색페이지 */
	.total_search_detail { background: none; margin-bottom:20px }
	.total_search_detail ul { margin-left:0;}
}



/* 화면 해상도 width 640px 이하 Design --------------------------------------*/
@media screen and (max-width: 640px){
	
	/* album list */
	ul.album_list li {width: 48%; }
	ul.album_list li .album .album_img img { width:200px; height:148px }
	
	
	
	/* 로그인*/
	.login_box { width: 100%; margin: 0 auto 15px; padding:20px 20px; text-align:center}
	.login_box .login_head { padding-bottom:20px; font-size:16px; }
	.login_box .login_input {overflow: hidden; display: inline-block; padding:20px 0;}
	.login_box .login_input input[type=text] {display: block; width: 300px; height: 40px; margin-bottom: 5px;} 
	.login_box .login_input input[type=password]  {display: block; width: 300px; height: 40px;}
	.login_box button.login {width: 300px;}
	.login_comment { width:300px;}
	
	/* 본인인증 */	
	.real_name_area dl { float:none; margin-right:0}
	.real_name_area dl.real_name { width:99.999%; height:320px; text-align:center }
	
	.cont_search_box2 dl {padding-bottom:15px}
	.cont_search_box2 dl dt { float: left; width:90px; font-weight:600; text-align:right; padding:0 15px; padding-top:5px;  vertical-align: middle; padding-bottom:5px}
	.cont_search_box2 dl dd { float: none;  padding-bottom:5px}
	
	/* 재해보험지도 */
	.mapImgWrap { display: none; position:relative; float: none; width:100%; margin-right:0 }
	.local_info_area { float:none; width:100%; padding-top:10px}

	/* 온라인설명회 IR */
	.ir dl dd p.thumb { float: none; width:100%;}
	.ir dl dd p.thumb img {width:100%; max-width:100%; }
	.ir dl dd ul { float:none ;width:100%;}
	
	/* 통합검색페이지 */
	.total_search_detail { background: none; margin-bottom:20px }
	.total_search_detail ul { margin-left:0;}
	
}


/* 화면 해상도 width 460px 이하 Design --------------------------------------*/
@media screen and (max-width: 460px){
	
	
	.cont_search_box dd { float: none; margin-bottom:10px }
	
	
	/* album list */
	ul.album_list li {width: 100%; }
	ul.album_list li .album .album_img img { width:100%; height:auto }
	
	
	/* 본인인증 */	
	.real_name_area dl { float:none; margin-right:0}
	.real_name_area dl.real_name { width:99.999%; height:320px; text-align:center }
	
	/* 재해보험지도 */
	.mapImgWrap { display: none; position:relative; float: none; width:100%; margin-right:0 }
	.local_info_area { float:none; width:100%; padding-top:10px}
	
	/* 온라인설명회 IR */
	.ir dl dd p.thumb { float: none; width:100%;}
	.ir dl dd p.thumb img {width:100%; max-width:100%;}
	.ir dl dd ul { float:none ;width:100%;}
	
	/* 입찰정보 (추가2018.01.08)*/
	.tender_title_box {width:100%; height:30%; margin-bottom:25px;}
	.tender_title_box.bg_tender_tit1{background-color:#eff1f3;  background-image:none;}
	.tender_txt_area {width:100%; padding:4% 2% 7% 2%;}
	.tender_txt_area2 {width:90%; padding:0 0 0 40px; overflow:hidden;}
	
	/* 통합검색페이지 */
	.total_search_detail { background: none; margin-bottom:20px }
	.total_search_detail ul { margin-left:0;}
}
